
{{!-- const BASE_URL = 'https://restcountries.com/v3.1'; --}}
{{!-- {{#each this}}
<li>
    <img src="{{flags.svg}}" alt="Flag of {{name.official}}" width="25">
    <span>{{name.official}}</span>
</li>
{{/each}} --}}


{{!-- 
{{!-- const BASE_URL = 'https://restcountries.com/v2'; --}}
{{#each this}}
<li>
    <img src="{{flags.svg}}" alt="Flag of {{name}}" width="25">
    <span>{{name}}</span>
</li>
{{/each}} --}}
